<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <title>Online PyScript REPL Terminal</title>
    <py-env>
        - matplotlib
        - numpy
        - pandas
    </py-env>
</head>
<body>
    <h5>This online python terminal demo is based on PyScript.</h5>
    <h5>It supports matplotlib, numpy and pandas now.</h5>
    <py-repl auto-genrate="True"></py-repl>
</body>
</html>